<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/all.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <%- style %>
    <title>
        <%= locals.websiteName %> | <%= locals.page %>
    </title>
</head>
<body>
    <header>
        <div class="brand">
            <a href="/"><%= locals.websiteName %></a>
        </div>
        <div class="input-search">
            <input type="text">
            <button class="btn">Rechercher</button>
        </div>
        <div class="socials-links">
            <div class="text">
                <span>Suivez moi sur</span>
            </div>
            <div class="icones">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-github"></i></a>
            </div>
        </div>
        <div class="action">
            <a class="btn" href="">Connexion</a>
        </div>
    </header>
    <nav>
        <ul>
            <% locals.categories.forEach( categorie => { %>
                <li>
                    
                    <a href="/articles<%= url('post-byCat')%>?catId=<%= categorie._id %>&page=1&limit=1">
                        <%= categorie.name %>
                    </a>
                </li>
            <% }) %>
        </ul>
    </nav>
    <main>
        <%- body %>
    </main>
    <%- script %>
</body>
</html>