<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/all.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/mobile.css">
    <%- style %>
    <title>
        <%= locals.websiteName %> | <%= locals.page %>
    </title>
</head>
<body>
    <header>
        <div class="brand">
            <a href="/"><%= locals.websiteName %></a>
        </div>
        <form action="/articles<%= url('post-search') %>" class="input-search">
            <input type="text" name="request">
            <input type="hidden" name="page" value="1">
            <input type="hidden" name="limit" value="4">
            <button class="btn">Rechercher</button>
        </form>
        <div class="socials-links">
            <div class="text">
                <span>Suivez moi sur</span>
            </div>
            <div class="icones">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-github"></i></a>
            </div>
        </div>
        <div class="action">
            <% if(locals.user === undefined){ %>
                <a class="btn" href="/login<%= url('login.choice') %>">Connexion</a>
            <% }else {%>
                <div class="user-name-wrapper">
                    <div class="btn" id="user-name">
                        <%= locals.user.name %>
                    </div>
                    <div class="logout">
                        <i class="fa fa-sign-out-alt"></i>
                        <a href="/login<%= url('user.logout') %>">
                            deconnexion
                        </a>
                    </div>
                </div>
            <% } %>
        </div>
    </header>
    <nav>
        <div class="brand-nav">
            <a href="/"><%= locals.websiteName %></a>
        </div>
        <ul>
            <% if(typeof locals.categories !== 'undefined') {%>
            <% locals.categories.forEach( categorie => { %>
                <li>
                    
                    <a href="/articles<%= url('post-byCat')%>?catId=<%= categorie._id %>&page=1&limit=4">
                        <%= categorie.name %>
                    </a>
                </li>
            <% }) %>
            <% } %>
        </ul>
        <div class="mobile-actions">
            <div class="search-togler">
                <a href="<%= url("post-search-form") %>">
                    <i class="fa fa-search"></i>
                </a>
            </div>
            <div class="menu-toggler">
                <i class="fa fas fa-minus"></i>
                <i class="fa fas fa-minus"></i>
                <i class="fa fas fa-minus"></i>
            </div>
        </div>
    </nav>
    <main>
        <%- body %>
    </main>
    <%- script %>
    <footer>
        
    </footer>
</body>
</html>