<div class="container">
    <% if (typeof topView !== 'undefined') {%>
    <div class="top-header">
        <div class="right-content">
            <div class="post-item big-post-item">
                <div class="post-img">
                    <img src="<%= `public/${topView[0].image}` %>" alt="">
                    <div class="post-img-detail">
                        <div class="categorie">
                            <span><%= topView[0].categorie.name  %> <%= (topView[0].sousCategorie !== undefined)? `| ${topView[0].sousCategorie.name}` : '' %></span>
                        </div>
                        <div class="stats">
                            <span>
                                <i class="far fa-eye"></i>
                                <%= topView[0].view  %>
                            </span>
                            <!-- <span><i class="far fa-comments"></i></span> -->
                            <span>
                                <i class="far fas fa-share-alt"></i>
                                <%= topView[0].shared  %>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="post-resume">
                    <a href="articles<%= url('post-single', {id: topView[0]._id}) %>" class="title">
                       <%= topView[0].name %>
                    </a>
                    <p><%= topView[0].resume %></p>
                </div>
            </div>
            <div class="post-item min-post-item">
                <div class="post-img">
                    <img src="<%= `public/${topView[1].image}` %>" alt="">
                    <div class="post-img-detail">
                        <div class="categorie">
                            <span><%= topView[1].categorie.name %> <%= (topView[1].sousCategorie !== undefined)? `| ${topView[1].sousCategorie.name}` : '' %></span>
                        </div>
                        <div class="stats">
                            <span><i class="far fa-eye"></i></span>
                            <span><i class="far fa-comments"></i></span>
                            <span><i class="far fas fa-share-alt"></i></span>
                        </div>
                    </div>
                </div>
                <div class="post-resume">
                    <a href="articles<%= url('post-single', {id: topView[1]._id}) %>" class="title">
                        <%= topView[1].name  %>
                    </a>
                    <p>
                        <%= topView[1].resume  %>
                    </p>
                </div>
            </div>
        </div>
        <div class="left-content">
            <div class="post-item">
                <div class="post-img">
                    <img src="<%= `public/${topView[2].image}` %>" alt="">
                    <div class="post-img-detail">
                        <div class="categorie">
                            <span> <%= (topView[2].sousCategorie !== undefined)? `| ${topView[2].sousCategorie.name}` : '' %></span>
                        </div>
                        <div class="stats">
                            <span><i class="far fa-eye"></i></span>
                            <span><i class="far fa-comments"></i></span>
                            <span><i class="far fas fa-share-alt"></i></span>
                        </div>
                    </div>
                </div>
                <div class="post-resume">
                    <a href="articles<%= url('post-single', {id: topView[2]._id}) %>" class="title">
                        <%= topView[2].name  %>
                    </a>
                </div>
            </div>
            <div class="post-item">
                <div class="post-img">
                    <img src="<%= `public/${topView[3].image}` %>" alt="">
                    <div class="post-img-detail">
                        <div class="categorie">
                            <span>lorem ipsum <%= (topView[2].sousCategorie !== undefined)? `| ${topView[3].sousCategorie.name}` : '' %> </span>
                        </div>
                        <div class="stats">
                            <span><i class="far fa-eye"></i></span>
                            <span><i class="far fa-comments"></i></span>
                            <span><i class="far fas fa-share-alt"></i></span>
                        </div>
                    </div>
                </div>
                <div class="post-resume">
                    <a href="articles<%= url('post-single', {id: topView[3]._id}) %>" class="title">
                        <%= topView[3].name  %>
                    </a>
                    <p>
                        <%= topView[3].resume  %>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <div class="content">
        <div class="daily-news">
            <h2 class="section-title">Posts récents</h2>
            <div class="daily-news-items">
                <% latestPost.forEach(post => { %>
                <div class="daily-news-items-item">
                    <div class="img">
                        <img src="<%= `public/${post.image}` %>" alt="">
                    </div>
                    <div class="text">
                        <div class="cat-and-autor">
                            <span class="cat"><%=  post.categorie.name %> <%= (post.sousCategorie !== undefined)? `| ${post.sousCategorie.name}` : '' %></span>
                            <span class="autor">Sele shabani</span>
                        </div>
                        <a href="articles<%= url('post-single', {id: post._id}) %>" class="title">
                           <%= post.name %>
                        </a>
                        <div>
                            <%= post.resume %>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>