<link rel="stylesheet" href="/public/css/byCat.css">
<div class="container">
    <div class="by-categories-content">
        <div class="post-content">
            <div class="daily-news-items">
                <% posts.results.forEach( post=> { %>
                    <div class="daily-news-items-item">
                        <div class="img">
                            <img src="<%= `/public/${post.image}` %>" alt="">
                        </div>
                        <div class="text">
                            <div class="cat-and-autor">
                                <span class="cat"><%= categorie.name %> <%= (post.sousCategorie !== undefined)? `| ${post.sousCategorie.name}` : '' %></span>
                                <span class="autor">Sele shabani</span>
                            </div>
                            <a href="/articles<%= url('post-single', {id: post._id}) %>" class="title">
                                <%= post.name %>
                            </a>
                            <p>
                                <%= post.resume %>
                            </p>
                        </div>
                    </div>
                    <%})%>
            </div>
            <div class="pagination">
                <% if(posts.previous !==undefined) {%>
                    <a
                        class="btn"
                        href="/articles<%= url('post-byCat')%>?catId=<%= categorie._id %>&page=<%= posts.previous.page %>&limit=<%= posts.previous.limit %>">
                        précedent
                    </a>
                <% } %>

                <% if(posts.next !==undefined) {%>
                    <a 
                    class="btn"
                    href="/articles<%= url('post-byCat')%>?catId=<%= categorie._id %>&page=<%= posts.next.page %>&limit=<%= posts.next.limit %>">
                        suivant
                    </a>
                <% } %>
            </div>
        </div>
    </div>