<link rel="stylesheet" href="/public/css/byCat.css">
<div class="container">
    <div class="by-categories-content">
        <div class="post-content">
            <div class="daily-news-items">
                <% posts.results.forEach( post=> { %>
                    <div class="daily-news-items-item">
                        <div class="img">
                            <img src="<%= `/public/${post.image}` %>" alt="">
                        </div>
                        <div class="text">
                            <div class="cat-and-autor">
                                <span class="cat"><%= post.categorie.name %> <%= (post.sousCategorie !== undefined)? `| ${post.sousCategorie.name}` : '' %></span>
                                <span class="autor">Sele shabani</span>
                            </div>
                            <a href="/articles<%= url('post-single', {id: post._id}) %>" class="title">
                                <%= post.name %>
                            </a>
                            <p>
                                <%= post.resume %>
                            </p>
                        </div>
                    </div>
                    <%})%>
            </div>
            <div class="pagination">
                <% for (i = 1; i <= posts.nbrPages; i++) { %>
                    <a class="btn" href="/articles<%= url('post-search')%>?query=<%= searchq %>&page=<%= i %>&limit=<%= posts.limit %>">
                        <%= i %>
                    </a>
                <% } %>
            </div>
        </div>
    </div>